include ../mixins/wizardMixins

.c-wizard-page-container
  .c-page-title Create a new challenge

  p.
    Provide a name for your challenge, and optionally add a list of organizers
    and a short description. (You'll be able to add a more detailed, rich
    description in a later step.) Then enter the start date and end date of the
    challenge. You may leave the dates blank if your challenge does not have a
    known schedule. When you're done, click #[b Next], and your challenge will
    be created. At first, no one will be able to see the challenge except for
    you, but you can change that in the next step.

  p.
    You don't have to get everything right just yet &mdash; any of these fields
    can be changed later.

  .c-form-container
    form.c-challenge-create-form
      .form-group
        label.control-label(for="c-challenge-name") Name (required)
        input#c-challenge-name.input-sm.form-control(type="text", placeholder="Enter challenge name")
      .form-group
        label.control-label(for="c-challenge-organizers") Challenge organizers
        input#c-challenge-organizers.input-sm.form-control(
          type="text", placeholder="Enter challenge organizers")
      .form-group
        label.control-label(for="c-challenge-description") Short description
        textarea#c-challenge-description.input-sm.form-control(placeholder="Enter short description")
      #c-challenge-timeframe.form-group
    .g-validation-failed-message

  if wizard
    .c-wizard-nav-container
      +wizardNav(wizard.current, wizard.total)
