.c-leaderboard-table
  width 100%

  thead>tr
    color #333
    font-variant small-caps
    font-size 15px
    border-bottom 1px solid #ccc
    &>th
      padding 3px 0

  tr.c-stripe[stripe="odd"]
    background-color #eee

.c-leaderboard-pagination
  margin-top 10px
