.c-submission-title
  color #555
  font-weight bold
  font-size 20px

.c-submission-subtitle
  color #777
  padding-bottom 9px
  margin-bottom 15px
  border-bottom 1px solid #e8e8e8

  b
    color #333

.c-submission-overall-score-container
  border-radius 6px
  background-color #d6f0b4
  padding 15px 20px
  font-size 30px
  margin-bottom 15px

  .c-pre-text
    color #5a5a5a
    margin-right 10px
    font-variant small-caps
  .c-overall-score
    color #333
    font-weight bold

.c-submission-score-table
  width 100%

  tr.c-stripe[stripe="even"]
    background-color #eee
