.c-submission-title
  color #555
  font-weight bold
  font-size 20px

.c-submission-subtitle
  color #777
  padding-bottom 9px
  margin-bottom 15px
  border-bottom 1px solid #e8e8e8

  b
    color #333

.c-submission-overall-score-container
  border-radius 6px
  background-color #d6f0b4
  padding 15px 20px
  font-size 30px
  margin-bottom 15px

  .c-pre-text
    color #5a5a5a
    margin-right 10px
    font-variant small-caps
  .c-overall-score
    color #333
    font-weight bold

.c-submission-score-table
  width 100%

  tr.c-stripe[stripe="even"]
    background-color #eee

.c-submission-right-buttons
  margin-top 10px

.c-leaderboard-button
  border-radius 6px
  border 3px solid #aaa
  background-color #f0f0f0
  color #707070
  padding 10px 8px 10px 13px
  box-sizing border-box
  font-size 15px

  &:hover
    background-color #e6e6e6
    border 3px solid #999
    color #555

.c-score-pending-container
  .c-text
    display inline-block
    color #333
    font-size 15px
    vertical-align top
    line-height 28px
    margin-left 6px

  i
    font-size 20px
    color #6d6
