[celery]
app_main=girder_worker
broker=amqp://guest@{{ mq_private_ip }}/

[girder_worker]
# Root dir where temp files for jobs will be written
tmp_root=tmp
# Comma-separated list of plugins to enable
plugins_enabled=docker,girder_io
# Colon-separated list of additional plugin loading paths
plugin_load_path=

[docker]
exclude_images=girder/covalic-metrics:latest
