.c-current-thumbnail-container
  div Current thumbnail:
  .c-current-thumbnail
    img(src=challenge.getThumbnailUrl())
.c-thumbnail-upload-container
  div Upload new thumbnail:
  .c-thumbnail-upload-widget
