table.c-submission-score-table
  thead
    tr
      th
      each metric in metrics
        th= metric
  tbody
    - var i = 0
    each dataset in datasets
      tr.c-stripe(stripe="#{i % 2 ? 'even' : 'odd'}")
        th= dataset
        each metric in metrics
          td= getScoreForCell(dataset, metric)
      - i ++
