.c-leaderboard-table
  width 100%

  thead>tr
    color black
    font-size 15px
    background-color #bfdcf7

  tbody>tr
    &>td
      font-size 15px
    &:nth-child(odd)>td
    &:nth-child(odd)>th
      background-color #f2f2f2

.c-leaderboard-pagination
  margin-top 10px

.c-score-icon-container
  padding-left 1em
