include ../mixins/backMixins
include ../mixins/wizardMixins

.c-wizard-page-container
  .c-page-title Choose thumbnail

  p.
    Choose an image to display for your challenge in the main listing. Click the
    square on the right to browse for files, or drag one onto the square. You can
    always change this image at a later time.

  p #[b Note]: This image will be cropped down to a square.

  .c-thumbnail-widget-container

  if wizard
    .c-wizard-nav-container
      +wizardNav(wizard.current, wizard.total)
  else
    +backToModel(challenge)
