.g-frontpage-header
  .g-frontpage-title-container
    .g-frontpage-title Covalic
    .g-frontpage-subtitle Data-driven challenges

.g-frontpage-body
  p.g-frontpage-paragraph
    b You might want to say something relevant here
