include ../mixins/wizardMixins

.c-wizard-page-container
  .c-page-title Create a new challenge

  p.
    Provide a name for your challenge, and optionally add a list of organizers
    and a short description. (You'll be able to add a more detailed, rich description
    in a later step.) When you're done, click #[b Next], and your challenge will be
    created. At first, no one will be able to see the challenge except for you, but
    you can change that in the next step.

  p.
    You don't have to get everything right just yet &mdash; any of these fields
    can be changed later.

  .c-form-container
    form.c-challenge-create-form
      .form-group
        label.control-label(for="c-challenge-name") Name (required)
        input.input-sm#c-challenge-name.form-control(type="text" placeholder="Enter challenge name")
      .form-group
        label.control-label(for="c-challenge-organizers") Challenge organizers
        input.input-sm#c-challenge-organizers.form-control(
          type="text" placeholder="Enter challenge organizers")
      .form-group
        label.control-label(for="c-challenge-description") Short description
        textarea.input-sm#c-challenge-description.form-control(
          placeholder="Enter short description")
      .form-group
        label.control-label(for="c-challenge-timeframe") Timeframe
        div#c-challenge-timeframe
    .g-validation-failed-message

  if wizard
    .c-wizard-nav-container
      +wizardNav(wizard.current, wizard.total)
