include ../mixins/wizardMixins

.c-wizard-page-container
  .c-page-title Create a new phase

  p.
    A challenge is divided into phases, though challenges may have just one
    phase. For example, many challenges will have a training phase where
    participants are allowed to see the ground truth data, and then a
    competitive phase where ground truth is hidden from them. On this page,
    provide a name and short description for this phase, enter the start date
    and end date of the phase, and choose whether the phase is actively
    accepting submissions or not. You can always change these values later.

  p.
    You may leave the dates blank if your phase does not have a known schedule.
    If you provide a start or end date, submissions to the phase will only be
    allowed during the specified range.

  .c-form-container
    form.c-phase-create-form
      .form-group
        label.control-label(for="c-phase-name") Name (required)
        input#c-phase-name.input-sm.form-control(type="text", placeholder="Enter phase name")
      .form-group
        label.control-label(for="c-phase-description") Short description
        textarea#c-phase-description.input-sm.form-control(
          placeholder="Enter short description")
      #c-phase-timeframe.form-group
      .checkbox
        label
          input#c-phase-active(type="checkbox")
          |  Active (accepting submissions)
      .checkbox
        label
          input#c-phase-hide-scores(type="checkbox")
          |  Hide scores from participants
      .checkbox
        label
          input#c-phase-training(type="checkbox")
          |  Training phase
    .g-validation-failed-message

  if wizard
    .c-wizard-nav-container
      +wizardNav(wizard.current, wizard.total)
