include ../mixins/wizardMixins

.c-wizard-page-container
  .c-page-title Create a new phase

  p.
    A challenge is divided into phases, though challenges may have just one phase.
    For example, many challenges will have a training phase where participants
    are allowed to see the ground truth data, and then a competitive phase where
    ground truth is hidden from them. On this page, provide a name and short
    description for this phase, and choose whether the phase is actively accepting
    submissions or not. You can always change these values later.

  .c-form-container
    form.c-phase-create-form
      .form-group
        label.control-label(for="c-phase-name") Name (required)
        input.input-sm#c-phase-name.form-control(type="text" placeholder="Enter phase name")
      .form-group
        label.control-label(for="c-phase-description") Short description
        textarea.input-sm#c-phase-description.form-control(
          placeholder="Enter short description")
      .checkbox
        label
          input#c-phase-active(type="checkbox")
          |  Active (accepting submissions)
    .g-validation-failed-message

  if wizard
    .c-wizard-nav-container
      +wizardNav(wizard.current, wizard.total)
