.c-phase-header
    .c-phase-name.g-body-title
        a.c-challenge-link(c-challenge-id="#{challenge.get('_id')}")
            b #{challenge.get('name')}
        i.icon-angle-right
        | #{phase.get('name')}
        .c-phase-properties.pull-right
            .c-phase-active
                if phase.get('active')
                    i.icon-sun
                    | Active
                else
                    i.icon-moon
                    | Inactive
            .c-phase-privacy
                if phase.get('public')
                    i.icon-globe
                    | Public
                else
                    i.icon-lock
                    | Private
        .c-phase-description.g-body-subtitle #{phase.get('description')}
        .g-clear-right

.c-phase-submit-container
    if userInChallenge
        button#c-submit-phase-dataset.btn.btn-lg.btn-success
            i.icon-upload-cloud
            |  Submit your results
    else
        button#c-join-phase.btn.btn-lg.btn-primary
            i.icon-thumbs-up-alt
            | Participate in this phase

.c-leaderboard-container
  .c-title Leaderboard
  .c-leaderboard-widget-container
