.g-config-breadcrumb-container

p.
  Before submissions can be scored, you must create and set a user that will
  represent the agent responsible for scoring the submissions. This agent will
  be given access to both the ground truth files and the submissions being scored.

form#g-covalic-config-form(role="form")
  .form-group
    label.control-label(for="g-scoring-user-id") Scoring user ID
    input#g-scoring-user-id.input-sm.form-control(type="text")
    .g-scoring-user-select-container

  p#g-covalic-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
