server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root {{ girder_root }}/clients/web;
    client_max_body_size 500M;

    # Make site accessible from http://localhost/
    server_name localhost;

    location / {
        proxy_pass http://localhost:8080;
        include /etc/nginx/proxy_params;
        # Must turn buffering off for SSE to work
        proxy_buffering off;
        proxy_cache off;
        proxy_set_header Connection '';
        proxy_http_version 1.1;
        chunked_transfer_encoding off;
        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
    }

    location /static {
        try_files $uri $uri/ /index.html;
    }
}
