.c-header-wrapper
  .c-icons-wrapper
    a.c-home-link(title="Home")
      i.icon-home
    a.c-challenges-link(title="Challenges")
      i.icon-flag-checkered
  .c-current-user-wrapper
  .g-clear-both
