.c-challenge-header
  border-bottom 1px solid #ddd
  margin-bottom 10px
  padding-bottom 5px
  min-height 40px

  .c-challenge-title
    font-weight bold
    font-size 18px
    color #222

  .c-challenge-description
    color #666

.c-challenge-instructions-container
  padding 10px 13px
  border-radius 4px
  background-color #f8f8f0
  border 1px solid #ddd

.c-challenge-phase-container
  margin-top 10px

  .c-phase-list-title
    font-variant small-caps
    font-weight bold
    font-size 20px

  ul.c-phase-list
    padding-left 0

    &>li
      list-style-type none
      margin-top 5px
      padding 6px 10px
      font-weight bold
      font-size 16px
      background-color #f6f6f6
