.c-challenge-timeline-segment-completed
  background-color #44b2ce

.c-challenge-timeline-segment-upcoming
  background-color #ccc

.c-challenge-timeline-point-completed
  background-color #8cc1ce

.c-challenge-timeline-point-upcoming
  background-color #aaa

