.c-new-challenge-page-container
  max-width 780px
  margin auto

.c-page-title
  text-transform uppercase
  font-size 20px
  color #333
  margin 10px 0 20px 0

.c-form-container
  margin-top 23px

.c-wizard-nav-container
  text-align center
  margin 24px 0
