.c-phase-header
  border-bottom 1px solid #ddd
  margin-bottom 15px

  .c-phase-name
    margin-bottom 10px

  .c-phase-properties
    font-size 14px
    color #444

  .c-phase-active
    float right

  .c-phase-privacy
    overflow auto

.c-leaderboard-outer-wrapper
  margin-top 35px

.c-phase-instructions-container
  padding 0 20px 20px

#c-submit-phase-dataset, .c-download-test-data, .c-download-ground-truth
  margin 10px 10px 0 0
