.c-phase-header
  border-bottom 1px solid #ddd
  margin-bottom 15px

  .c-phase-name
    margin-bottom 10px

  .c-phase-properties
    font-size 14px
    color #444

  .c-phase-active
    float right

  .c-phase-privacy
    overflow auto

.c-leaderboard-container>.c-title
  font-variant small-caps
  color #222
  font-size 22px
  font-weight bold
  margin 10px 0

.c-phase-instructions-container
  margin-bottom 15px
