.c-phase-header
  border-bottom 1px solid #ddd
  margin-bottom 15px

  .c-phase-name
    margin-bottom 10px

  .c-phase-properties
    font-size 14px
    color #444

  .c-phase-active
    float right

  .c-phase-training
    float right

  .c-phase-privacy
    overflow auto

.c-leaderboard-outer-wrapper
  margin-top 35px

.c-phase-instructions-container
  padding 0 20px 20px

.c-phase-submit-container
  margin-top 10px
  a, button
    margin-right 10px
