.c-metrics-header
  margin-bottom 10px
  border-bottom 1px solid #ddd

  .c-breadcrumb-list
    margin-bottom 10px
    display inline-block

.c-empty-metrics-message
  margin-top 15px
  color #666
  font-style italic

.c-metric-container
  border 1px solid #eee
  padding 4px 15px 15px 15px
  margin-bottom 10px
  background-color #f9f8f8

  >.c-metric-info-label
    margin-top 11px

  .c-metric-remove-button
    display inline-block
    float right
    border-radius 3px
    color #333
    border 1px solid white
    cursor pointer
    padding 3px 4px

    &:hover
      border 1px solid #ddd
      color #a44
