.c-current-thumbnail-container
  display inline-block
  margin-right 15px
  vertical-aling top
  min-width 200px

  img
    width 200px
    height 200px
    display block

.c-thumbnail-upload-container
  display inline-block
  vertical-align top
  max-width 400px

  .g-drop-zone
    background-color white
    color #888
    width 200px
    height 200px
    border 2px dashed #d7d7d7
    border-radius 0
    vertical-align middle
    line-height 200px
    word-wrap none
    font-size 14px
    white-space nowrap
    padding 0
    text-align center
    margin 0

    &:hover
      background #f4f4f4
