.c-leaderboard-table
  width 100%

  thead>tr
    color white
    text-transform uppercase
    font-size 15px
    background-color #d09b48
    &>th
      padding 4px
    &>th.c-rank
      padding-left 8px

  tbody>tr
    padding 0 px
    &>td
      font-size 15px
      padding 5px 0
    &>td.c-rank
      padding-left 4px

  tr.c-stripe[stripe="odd"]
    background-color #f2f2f2

.c-leaderboard-pagination
  margin-top 10px
